<main>
    <ng-container *ngIf="loading;else tabContent">
        <section class="section loading">
            <h1>Loading...</h1>
          </section>
    </ng-container>
    <ng-template #tabContent>
        <section class="section">
            <div class="title">
              <h2>experience</h2>
              <div class="underline"></div>
            </div>
            <div class="jobs-center">
    
              <div className="btn-container">
                <button
                    *ngFor="let job of jobs; let i = index"
                    [attr.key]="job.id"
                    (click)="setValue(i)"
                    class="job-btn"
                    [class.active-btn]="i === value"
                >
                    {{job.company}}
                </button>
              </div>
              <article className="job-info">
                <h3>{{current?.title}}</h3>
                <h4>{{current?.company}}</h4>
                <p className="job-date">{{current?.dates}}</p>
                <div *ngFor="let duty of current?.duties; let i = index" [attr.key]="i" class="job-desc">
                    <fa-icon [icon]="faAngleDoubleRight" className="job-icon"></fa-icon>
                    <p>{{duty}}</p>
                  </div>
              </article>
            </div>
            <button type="button" className="btn">
              more info
            </button>
          </section>
    </ng-template>
</main>