<div
  #input
  class="input"
  data-testid="input"
  [ngClass]="{disabled: disabled()}"
  [tabindex]="disabled() ? -1 : 0"
  (keydown.enter)="onInputKeydownEnter()"
  (keydown.space)="onInputKeydownSpace()"
  (keydown.arrowdown)="onInputArrowDown()"
>
  @if(selectedOption()) {
    <span class="selected-option">{{ selectedOption() | formatOption:optionFormatFn() }}</span>
  }
  @else {
    <span class="placeholder">{{ placeholder() }}</span>
  }
</div>

@if(atLeastOneOption() && areOptionsVisible()) {
  <div class="options" data-testid="options">
    @for (option of options(); track $index) {
      <div
        #option
        class="option"
        data-testid="option"
        [ngClass]="{selected: option === selectedOption()}"
        tabindex="0"
        (click)="onOptionClick(option)"
        (keydown.arrowdown)="onOptionArrowDown($index)"
        (keydown.arrowup)="onOptionArrowUp($index)"
        (keydown.enter)="onOptionClick(option)"
        (keydown.tab)="$event.preventDefault()"
        (keydown.shift.tab)="$event.preventDefault()"
      >
        {{ option | formatOption:optionFormatFn() }}
      </div>
    }
  </div>
}
