<ng-container *ngIf="loading();else cocktailContent">
    <app-loading />
</ng-container>
<ng-template #cocktailContent>
    <ng-container *ngIf="cocktails().length < 1; else listCocktail">
        <h2 class='section-title'>
            no cocktails matched your search criteria
          </h2>
    </ng-container>
    <ng-template #listCocktail>
        <section class='section'>
            <h2 class='section-title'>cocktails</h2>
            <div class='cocktails-center'>
              <app-cocktail *ngFor="let item of cocktails()" [item]="item" />
            </div>
          </section>
    </ng-template>
</ng-template>